<div class="container">
    <nav class="navbar bg-primary navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Our Blog</a>
          <ul class="navbar-nav">
              <li class="nav-item">
                <% if(role === "Author") { %>
                  <a class="nav-link" href="/articles">Article</a>
                <% } %>
              </li>
              <li class="nav-item">
                  <% if(name) { %>
                    <% if(role === "Visitor") { %>
                      <a class="nav-link" href="/visitor">Welcome <%= name %></a>
                    <% } else if(role === "Author") { %>
                      <a class="nav-link" href="/articles/author">Welcome <%= name %></a>
                    <% } %>
                      
                  <% } %>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/logout">Logout</a>
              </li>
          </ul>
        </div>
      </nav>

</div>

